body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #5f9341 ;
    margin-bottom: 5px;
}
input:focus{
    background-color: rgb(227, 227, 254);
}
button{
    color: white;
    background-color: #5f9341;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
}